@import "../../../mixins.scss";

.displayPage {
    min-height: 700px;
    padding-top: 100px;

    .resultNotFound {
        font-size: 24px;
        color: var(--black-light);
    }

    .content {
        display: flex;
        flex-flow: row wrap;
        gap: 10px;
        margin-bottom: 50px;

        @include md {
            gap: 20px;
        }

        .movieCard {
            .posterBlock {
                margin-bottom: 20px;
            }
        }


    }
}

.year-text {
    color: white;
    margin-bottom: 20px;
    font-size: 26px;
    margin-left: 10px;
    font-weight: 700;
}